.section__about {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  

  &--title {
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 30px;
    font-size: 1em;
    text-shadow: 2px 2px 4px #796f6f;
    @media (min-width: 768px) {
      font-size: 2em;
    }
  }
  &--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--container{
   // gap: 20px;
    //display: grid;
    //grid-template-columns: 1fr;
    //grid-row: 1fr;
    //justify-items: center;
    //@media (min-width: 768px) {
      //grid-template-columns: 1fr 1fr;
    //}
    //@media (min-width: 1200px) {
    //  grid-template-columns: 1fr 1fr 1fr;
    //}
  
  }
  
  &--article {
    //width: 100%;
    //display: flex;
    //flex-direction: column;
    //width: 60%;
    //height: 40%;
   //background-color: $light-grey;
    text-indent: 20px;
    
  }
  &--subtitle {
    padding: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #796f6f;
  }
  &--img {
    background-image: url(../../images/avatar.png);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
  }
  &--paragraph{
   // width: 60%;
  
   margin-left: 40px;
   margin-right: 40px;
   text-align: justify;
   text-indent: 20px;
  }
}
