.section__about {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr;
    grid-template-areas: 'title title' 'img img' 'img img' 'arrow arrow'
  }
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 0.2fr 0.6fr 0.2fr;
      grid-template-areas: 'title title title' 'img skills tech' 'arrow arrow arrow'
    }
  &--title {
    font-weight: 600;
    margin-top: 15px;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #796f6f;
    @media (min-width: 768px) {
      font-size: 2em;
      margin-top: 30px;
      margin-bottom: 30px;
      grid-area: title;
      margin-top: 100px;
    }
    @media (min-width:1024px){
     // margin-top: 50px;
    }
  }
  &--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'photo skills' 'photo tech' ;
      justify-items: center;
      height: 90%;
      }
    @media (min-width: 1024px){
      grid-column: 1/4;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
  }
  
  &--article {
    text-indent: 20px;
    font-size: 18px;
  }

  &--subtitle {
    padding: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 1em;
    text-shadow: 2px 2px 4px #796f6f;
    @media (min-width: 768px) {
      font-size: 1.5em;
      } 
  }
  &--img {
    background-image: url(../../images/photo.jpg);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    @media (min-width: 768px) {
      width: 300px;
      height: 300px;
      }
  }
  &--paragraph{
   margin-left: 20px;
   margin-right: 20px;
   text-align: justify;
   text-indent: 20px;
   font-size: 0.85em;
  }
  &--anchor{
    @media (min-width: 768px) {
      grid-area: arrow;
      margin-bottom: 40px;
    }
  }
}
.article1{
  @media (min-width: 768px) {
    grid-area: photo;
  }
}
