.section__home {
  background-color: #c5b7aa;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:0;
  &--title {
    font-size: 50px;
    color:$light-grey;
    font-weight: bold;
    //margin-top: 40px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 4px #796f6f;
    @media (min-width: 768px) {
      margin-bottom: 80px;
      margin-top: 80px;
      font-size: 60px;
    }
  }
  &--paragraph {
    font-size: 2em;
    margin-left: 15px;
    margin-bottom: 25px;
    color: $dark-grey;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
  }
  &--items {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    @media (min-width: 768px) {
      margin-bottom: 50px;
    }
}
&--a{
  padding: 15px;
  color: $light-grey;
  background-color: $dark-grey;
  border-radius: 30px;
  border: 3px solid $light-grey
  ;
  &:hover{
    font-weight: 600;
    font-size: 14px;
    color:$dark-grey;
    background-color: $light-grey;

  }
}
&--li{
  padding: 30px;
}

}
.fab {
  margin-left: 20px;
  font-size: x-large;
  color: $dark-grey;
}
.far {
  margin-left: 20px;
  font-size: x-large;
  color: $dark-grey;
}
.fas{
  margin-left: 20px;
  font-size: x-large;
  color: $dark-grey; 
}
.fa-arrow-circle-down {
  font-size: 40px;
  color: $dark-grey;
}
