.section__portfolio {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  &--title {
    font-weight: 600;
    padding: 15px;
    font-size: 20px;
    text-shadow: 2px 2px 4px #796f6f;
  }
  &--container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;

    padding-left: 40px;
    @media (min-width: 768px) {
      font-size: 2em;
      margin-top: 30px;
      margin-bottom: 30px;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
    @media (min-width:1024px){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &--subtitle {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin-top: 18px;
  }
  &--img {
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    @media (min-width: 768px) {
      width: 300px;
    }
  }
  &--paragraph {
    //padding: 5px;
    font-size: 16px;
  }
  &--a {
    padding: 5px;
    color: $grey;
    font-size: 16px;
    &:hover {
      font-size: 20px;
      width: fit-content;
      color: $light-grey;
      background-color: $grey;
      border-radius: 20px;
      display: flex;
      justify-content: center;
    }
  }
  &--paragraph {
    padding: 5px;
  }
  &--anchor {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
